{{template "header.html" . }}
<div class="feeds-container">
  <h1 class="page-title">The Feed</h1>
  <p class="page-description">Stay up to date with the 10 latest news from the sources that matter to you.</p>

  <!-- Display the feed items -->
  {{- if eq (len .feed) 0}}
  <div class="no-feeds">
    No feeds to display. Please add a feed to get started.
    <br>
    <a href="/user/feed">Add Feed</a>
  </div>
  {{- end}}
  <!-- Iterate over the feeds -->
  {{- $prevTitle := ""}}
  {{- range $index, $feed := .feed}}
  {{- if ne $feed.FeedTitle $prevTitle}}</br>
  <!-- Display the FeedTitle -->
  <h2 class="feed-title clickable" onclick="toggleArrow(this)">
    <i class="fa fa-arrow-right"></i> {{$feed.FeedTitle}}
  </h2>

  {{- end}}
  {{- $prevTitle = $feed.FeedTitle}}

  <!-- Display the feed item (initially hidden) -->
  <div class="feed-item" style="display: none;">
    <h2 class="feed-item-title">{{$feed.Title}}</h2>
    <p class="feed-description">{{html $feed.Description}}</p>
    <a class="read-more" href="{{$feed.Link}}" target="_blank">Read More</a>
  </div>
  {{- end}}
</div>

<script>
  function toggleArrow(element) {
    var icon = element.querySelector('.fa');
    icon.classList.toggle('fa-arrow-right');
    icon.classList.toggle('fa-arrow-down');
    var feedItem = element.nextElementSibling;
    if (feedItem && feedItem.classList.contains('feed-item')) {
      feedItem.style.display = feedItem.style.display === 'none' ? 'block' : 'none';
    }
  }
  toggleFeedItem();
</script>
{{template "footer.html"}}