{{template "header.html" }}

<div class="feeds">
  {{- $prevTitle := ""}}
  {{- range $index, $feed := .feed}}
    {{- if ne $feed.FeedTitle $prevTitle}}
      <!-- Display the FeedTitle -->
      <h2 class="feed-title">{{$feed.FeedTitle}}</h2>
    {{- end}}
    {{- $prevTitle = $feed.FeedTitle}}
    
    <!-- Display the feed item -->
    <div class="feed-item">
      <h2 class="feed-title">{{$feed.Title}}</h2>
      <p class="feed-description">{{html $feed.Description}}</p>
      <a class="read-more" href="{{$feed.Link}}">Read More</a>
    </div>
  {{- end}}
</div>

<script>
  setMenu([
    { text: 'Home', url: '/' },
    { text: 'Feed', url: '/user/feed' },
    { text: 'Log Out', url: '/user/logout' }
  ]);
</script>

{{template "footer.html"}}
