{{ template "header.html" . }}
<div class="box">
  <h1 class="title">Add New Feed</h1>
  <form id="feed-form">
    <input
      id="link"
      type="text"
      name="url"
      placeholder="RSS Link"
      required
    >
    <button type="submit">Add Feed</button>
  </form>
</div>

<script>
  document.getElementById('feed-form').addEventListener('submit', function (event) {
    event.preventDefault();

    const formData = {
      url: document.getElementById('link').value
    };

    // Send POST request to backend
    fetch('/user/feed', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json',
      },
      body: JSON.stringify(formData)
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        window.location.href = '/user/dashboard';
      });
  });
</script>
{{template "footer.html"}}