/* General Style */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  color-scheme: light only;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-family: monospace;
  text-transform: uppercase;
}

header {
  padding: 8rem 0 2rem;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

/* Header Style */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 10px 10px 22px 10px;
  color: white;
  background-color: #f1f1f1;
}

#logo {
  height: 35px;
  position: fixed;
  left: 20px;
  top: 5px;
}

#menu {
  position: fixed;
  right: 20px;
  top: 15px;
}

/* Footer Style */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  background-color: #f1f1f1;
  color: black;
  padding: 10px 0 0 100px;
  font-size: 14px;
}

/* Button Styles */
button {
  border-radius: 0px;
  background-color: black;
  transition: all 0.4s ease;
  border: 1px solid black;
  cursor: pointer;
}

button.menu {
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

button.menu:hover {
  background-color: white;
  color: black;
}

button.warning {
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

button.warning:hover {
  background-color: rgb(202, 98, 98);
  color: black;
}

button[type=submit] {
  margin-top: 20px;
  background-color: rgb(49, 47, 47);
  color: white;
  width: 150px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

button[type=submit]:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Container Style */
.container {
  padding-top: 15px;
  margin-top: 40px;
  background-color: #f1f1f1;
  color: black;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.container .box {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 3rem;
}

/* Form & Input Style */
form {
  width: 400px;
  max-width: 400px;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 3rem;
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 60%);
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

input[type=text],
input[type=password] {
  width: 200px;
  height: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 60%);
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  align-items: center;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  form {
    width: 90%;
    max-width: none;
    box-sizing: content-box;
  }

  input[type=text],
  input[type=password] {
    width: 190px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 60%);
    margin-bottom: 5px;
  }

  #footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background-color: #f1f1f1;
    color: black;
    padding: 10px 0 0 20px;
    font-size: 14px;
  }
}

/* Dropdown Button */
.dropbtn {
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  right: 20px;
  top: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Profile Picture */
.profile-pic {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.feeds-container {
  display: column;
  padding-top: 15px;
  max-height: 80vh;
  overflow-y: auto;
}

.feed-item {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.feed-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.feed-description {
  margin-bottom: 10px;
}

.read-more {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

/* Style the arrow */
.dropdown-arrow {
  color: black;
  font-size: 12px;
  align-items: center;
}

.content {
  width: 700px;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}

.drop {
  --drop: clamp(1.5rem, 1vw + 1rem, 6rem);
  height: var(--drop);
  width: calc(var(--drop));
  aspect-ratio: 4 / 3;
  float: left;
  position: relative;
  shape-outside: inset(0 0 0 0);
}

.drop::after {
  content: "@";
  position: absolute;
  inset: 0;
  display: grid;
  line-height: 2rem;
  font-size: calc(var(--drop) * 1);
  font-weight: 600;
  text-align: left;
  place-items: start;
}

.quote-holder {
  position: absolute;
  left: calc(100% + (var(--gap) * 0.5));
  top: calc(var(--y) * 1%);
  height: calc(var(--size) * 2px);
  aspect-ratio: 1;
  background: radial-gradient(white 0% 50%, transparent 70%);
  translate: -50% -50%;
  border-radius: 50%;
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  container-type: inline-size;
  display: grid;
  place-items: center;
}

blockquote {
  margin: 0;
  text-align: center;
  font-size: 14cqi;
}

.columns {
  display: flex;
  gap: var(--gap);
}

:root {
  --size: 100;
  --y: 100;
  --gap: 1rem;
}

.outside {
  position: relative;
  width: calc(var(--size) * 1px);
  height: calc(100% + (var(--size) * 1px));
}

.column:first-of-type .outside {
  float: right;
  shape-outside: circle(calc(var(--size) * 1px) at 100% calc(var(--y) * 1%));
}

.column:last-of-type .outside {
  float: left;
  shape-outside: circle(calc(var(--size) * 1px) at 0 calc(var(--y) * 1%));
}

.columns p {
  font-size: .875rem;
  text-align: justify;
}

.outside {
  float: right;
  shape-outside: circle(50%);
}